.incomeItemContainer {
    border: 1px solid lightgray;
    display: flex;
    margin-left: 10px;
    width: 230px;
}

.dateContainer {
    border-right: 1px solid lightgray;
    width: 100px;
    text-align: center;
}

.incomeContainer {
    text-align: right;
    width: 130px;
}
