
.YearButton {
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 5px ;
    margin-left: 4px;
}

.Transactions {
    font-weight: bold;
}

.Back_Main {
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tab {
    display: inline-block;
    margin-left: 40px;
}

.Month_all{
    display: inline-flex;
    flex-direction: column;

}

.Month {
    /*width: 420px;*/
    display: inline-flex;
    /*text-align: right;*/
}

.Month_text {
    width: 100px;
    text-align: left;
    /*border-right: 1px solid lightgray;*/
}

.Month_value {
    text-align: right;
    width: 120px;
    /*border-right: 1px solid lightgray;*/
}