.MatchRow {
    display: flex;
}

.MatchRowTime {
    width: 35px;
}

.MatchRowPrice {
    width: 40px;
    text-align:left ;
}

.MatchRowVolume {
    width: 50px;
    text-align:right ;
}

.MatchSideBuy{
    width: 15px;
    font-weight: bold;
    text-align:left ;
    color: blue;
}

.MatchSideSell{
    width: 15px;
    font-weight: bold;
    text-align:left ;
    color: red;
}

::-webkit-scrollbar {
    display: none;
}


.no-scrollbars{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.no-scrollbars::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
