.MatchRow {
    display: flex;
    font-size: 11px;
}

.MatchRowTime {
    width: 35px;
}

.MatchRowPrice {
    width: 40px;
    text-align:left ;
}

.MatchRowVolume {
    width: 50px;
    text-align:right ;
}

.MatchRowBuy{
    color: blue;
}

.MatchRowSell{
    color: red;
}

.MatchSide{
    width: 15px;
    font-weight: bold;
    text-align:left ;
}

::-webkit-scrollbar {
    display: none;
}


.no-scrollbars{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.no-scrollbars::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
