<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tradingview-widget-container">
    <div id="tradingview_c6c06"></div>
    <div class="tradingview-widget-copyright"><a href="https://vn.tradingview.com/symbols/HOSE-BID/" rel="noopener" target="_blank"><span class="blue-text">BID</span></a> bởi TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.MediumWidget(
            {
                "symbols": [
                    [
                        "BID",
                        "HOSE:BID|1D"
                    ]
                ],
                "chartOnly": false,
                "width": 1000,
                "height": 400,
                "locale": "vi_VN",
                "colorTheme": "light",
                "gridLineColor": "#F0F3FA",
                "trendLineColor": "#2196F3",
                "fontColor": "#787B86",
                "underLineColor": "#E3F2FD",
                "isTransparent": false,
                "autosize": false,
                "container_id": "tradingview_c6c06"
            }
        );
    </script>
</div>

</body>
</html>